<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Clock</title>
</head>
<body>
  <div id="clock"> {{ fecha | date:formato }} </div>
  <!-- <input type="radio" id="formato24H" name="formato" (click)="formato = 'HH:mm:ss'" checked>
  <label for="formato24H">24H</label><br>
  <input type="radio" id="formato12H" name="formato" (click)="formato = 'hh:mm:ss a'">
  <label for="formato12H">12H</label><br> -->
</body>
</html>